<% provide(:title,  "New Job" ) %>

<% content_for :controller do %>planCtrl<% end %>
<% content_for :class do %>plans launcher<% end %>


<% content_for :no_specific_padding do %>true<% end %>


<% content_for :main do %>

  <div flex layout-padding ng-if="!ready">
    <div layout="row">
      <div flex="34"></div>
      <div flex="66">
        <br /><br />
        <h2 class="md-title">Loading...</h2>
        <md-progress-linear md-mode="indeterminate"></md-progress-linear>
        <br />
      </div>
    </div>
  </div>  

  <div flex layout-padding ng-if="ready">
    <div layout="row">
      <div flex="34"></div>
      <div flex="66">
        <br /><br />
        <p>
          I see this page as a spot where people can submit ola simple jobs using two text boxes and a barcode scanner. Once submitted and launched from template, the plan will undergo one 'debug' action which runs the submit-job protocol and gets everything ready to go.


          Maybe this page also shows the completed jobs and extracts the results out, displaying them in a list to the same person-role who submits the jobs.
        </p>

        <button 
          class="md-raised md-button ng-scope md-ink-ripple"
          type="button"
          aria-label="Click"
          ng-click="launch_ready_template(0, 1, [5, 10])"
          ng-disabled="state.launch"
        >
        Add Job
        <div class="md-ripple-container" style=""></div></button>
        <p>{{state.message}}<p>
        <br />
      </div>
    </div>
  </div>  

<% end %>
